<br />
<br />
<br />
<br />
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 text-center">
      <span class="titulo">Schedule an appointment</span>
      <br />
      <br />
      <form
        class="text-start shadow p-4 rounded bg-light"
        [formGroup]="createAppointment"
        (ngSubmit)="addAppointment()"
        novalidate
      >
        <ng-container *ngIf="message == true">
          <div class="alert alert-success" role="alert">
            <h5 class="text-center">Appointment successfully schedule</h5>
          </div>
        </ng-container>
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label"
              >Name<span class="text-danger">*</span></label
            >
            <input type="text" class="form-control" formControlName="name" />
            <div
              class="text-danger"
              *ngIf="
                createAppointment.get('name')?.hasError('required') &&
                createAppointment.get('name')?.touched
              "
            >
              <span>The name is <strong>mandatory</strong></span>
            </div>
          </div>
          <div class="col-md-6">
            <label class="form-label"
              >Last name<span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              formControlName="lastname"
            />
            <div
              class="text-danger"
              *ngIf="
                createAppointment.get('lastname')?.hasError('required') &&
                createAppointment.get('lastname')?.touched
              "
            >
              <span>The last name is <strong>mandatory</strong></span>
            </div>
          </div>
        </div>
        <br />
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="form-label"
              >Type of document<span class="text-danger">*</span></label
            >
            <select type="text" class="form-control" formControlName="identificationType">
              <option value="ID card">ID card</option>
              <option value="Social Security Card">Social Security Card</option>
              <option value="Drivers License">Drivers License</option>
              <option value="Passport">Passport</option>
            </select>
            <div
              class="text-danger"
              *ngIf="
                createAppointment.get('identificationType')?.hasError('required') &&
                createAppointment.get('identificationType')?.touched
              "
            >
              <span
                >Choose a type of document, it is<strong>
                  mandatory</strong
                ></span
              >
            </div>
          </div>
          <div class="col-md-4">
            <label class="form-label"
              >Identification number <span class="text-danger">*</span></label
            >
            <input type="text" class="form-control" formControlName="identificationNumber" />
            <div
              class="text-danger"
              *ngIf="
                createAppointment.get('identificationNumber')?.hasError('required') &&
                createAppointment.get('identificationNumber')?.touched
              "
            >
              <span
                >the identification number is <strong>mandatory</strong></span
              >
            </div>
          </div>
          <div class="col-md-4">
            <label class="form-label"
              >Date of birth<span class="text-danger">*</span></label
            >
            <input
              type="date"
              class="form-control"
              formControlName="dateBirth"
            />
            <div
              class="text-danger"
              *ngIf="
                createAppointment.get('dateBirth')?.hasError('required') &&
                createAppointment.get('dateBirth')?.touched
              "
            >
              <span
                >The date of birth is <strong>mandatory</strong></span
              >
            </div>
          </div>
        </div>
        <br />
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="form-label"
              >Phone number<span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              formControlName="phoneNumber"
            />
            <div
              class="text-danger"
              *ngIf="
                createAppointment.get('phoneNumber')?.hasError('required') &&
                createAppointment.get('phoneNumber')?.touched
              "
            >
              <span>The phone number is <strong>mandatory</strong></span>
            </div>
          </div>

          <div class="col-md-4">
            <label class="form-label text-nowrap"
              >Email address<span class="text-danger">*</span></label
            >
            <input type="email" class="form-control" formControlName="emailAddress" />
            <div
              class="text-danger"
              *ngIf="
                createAppointment.get('emailAddress')?.hasError('required') &&
                createAppointment.get('emailAddress')?.touched
              "
            >
              <span>The email address is <strong>mandatory</strong></span>
            </div>
          </div>
          <div class="col-md-4">
            <label class="form-label"
              >Location<span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              formControlName="location"
            />
            <div
              class="text-danger"
              *ngIf="
                createAppointment.get('location')?.hasError('required') &&
                createAppointment.get('location')?.touched
              "location
            >
              <span>Choosing the location is <strong>mandatory</strong></span>
            </div>
          </div>
        </div>
        <br />
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="form-label"
              >Speciality <span class="text-danger">*</span></label
            >
            <select
              type="text"
              class="form-control"
              formControlName="speciality"
            >
              <option value="Dentistry">Dentistry</option>
              <option value="Pediatrics">Pediatrics</option>
              <option value="Cardiology">Cardiology</option>
              <option value="Dermatology">Dermatology</option>
              <option value="Gynecology">Gynecology</option>
              <option value="Psychiatry">Psychiatry</option>
              <option value="Neurology">Neurology</option>
              <option value="Oncology">Oncology</option>
            </select>
            <div
              class="text-danger"
              *ngIf="
                createAppointment.get('speciality')?.hasError('required') &&
                createAppointment.get('speciality')?.touched
              "
            >
              <span
                >Choosing a speciality is <strong>mandatory</strong></span
              >
            </div>
          </div>

          <div class="col-md-4">
            <label class="form-label"
              >Appointment date<span class="text-danger">*</span></label
            >
            <input type="date" class="form-control" formControlName="dateAppointment" />
            <div
              class="text-danger"
              *ngIf="
                createAppointment.get('dateAppointment')?.hasError('required') &&
                createAppointment.get('dateAppointment')?.touched
              "
            >
              <span>Choose a date for your <strong>appointment</strong></span>
            </div>
          </div>
          <div class="col-md-4">
            <label class="form-label"
              >Appointment time <span class="text-danger">*</span></label
            >
            <input type="time" class="form-control" formControlName="timeAppointment" />
            <div
              class="text-danger"
              *ngIf="
                createAppointment.get('timeAppointment')?.hasError('required') &&
                createAppointment.get('timeAppointment')?.touched
              "
            >
              <span>Choose a time for your <strong>appointment</strong></span>
            </div>
          </div>
        </div>
        <br />
        <div class="mb-4">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Description of symptoms</label
          >
          <textarea
            class="form-control"
            type="text"
            formControlName="description"
            rows="3"
          ></textarea>
        </div>
        <br />
        <div class="d-flex justify-content-between align-items-center">
          <a routerLink="/user" class="btn btn-outline-secondary float-start">
            Back
          </a>
          <button
            type="submit"
            (click)="getMessage()"
            class="btn btn-primary float-end"
            [disabled]="createAppointment.pristine || createAppointment.invalid"
          >
            Confirm
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<br />
<br />
<br />
