<div class="header">
    <!--Content before waves-->
    <main class="form-signin w-100 m-auto">
        <div>
            <form #miFormulario="ngForm" [formGroup]="form" (ngSubmit)="addMedicalStaff(form)" novalidate>
                <h2 class="h3 pt-4 mb-3 fw-normal">Add Medical Staff</h2>

                <div class="form-floating">
                    <input formControlName="name" type="text" class="form-control" name="name" id="floatingInput"
                        placeholder="Insert your name" [(ngModel)]="servicio.usersData.name" required />
                    <label class="text-dark" for="floatingInput">Name</label>
                </div>

                <div class="alert alert-danger mt-2" *ngIf="
            form.controls['name'].invalid &&
            (form.controls['name'].dirty || form.controls['name'].touched)">
                    <span>This field is required</span>
                </div>

                <div class="mt-4 form-floating">
                    <input formControlName="lastname" type="text" class="form-control" name="lastname"
                        id="floatingInput" placeholder="Insert your lastname" [(ngModel)]="servicio.usersData.lastname"
                        required />
                    <label class="text-dark" for="floatingInput">Last name</label>
                </div>

                <div class="alert alert-danger mt-2" *ngIf="
            form.controls['lastname'].invalid &&
            (form.controls['lastname'].dirty || form.controls['lastname'].touched)">
                    <span> This field is required</span>
                </div>

                <div class="mt-4 form-floating">
                    <input formControlName="identificationNumber" type="text" class="form-control" name="identificationNumber"
                        id="floatingInput" placeholder="Insert your identification number"
                        [(ngModel)]="servicio.usersData.identificationNumber" required />
                    <label class="text-dark" for="floatingInput">Identification number</label>
                </div>

                <div class="alert alert-danger mt-2" *ngIf="
                     form.controls['identificationNumber'].invalid &&
                    (form.controls['identificationNumber'].dirty || form.controls['identificationNumber'].touched)">
                    <span>This field is required</span>
                </div>

                <div class="mt-4 form-floating">
                    <p>
                        <select formControlName="speciality" type="text" class="form-control" name="speciality"
                            id="floatingInput" placeholder="Insert your speciality"
                            [(ngModel)]="servicio.doctorsData.speciality" required>
                            <option selected>Speciality</option>
                            <option *ngFor="let item of lista">{{item}}</option>
                        </select>

                </div> 

                <div class="alert alert-danger mt-2" *ngIf="
                    form.controls['speciality'].invalid &&
                    (form.controls['speciality'].dirty || form.controls['speciality'].touched)">
                    <span>This field is required</span>
                </div>

                <div class="mt-4 form-floating">
                    <input formControlName="emailAddress" type="emailAddress" class="form-control" name="emailAddress" id="floatingInput"
                        placeholder="name@example.com" [(ngModel)]="servicio.doctorsData.emailAddress" />
                    <label class="text-dark" for="floatingInput">Email address</label>
                </div>

                <div class="alert alert-danger mt-2" *ngIf="
                    form.controls['emailAddress'].invalid &&
                    (form.controls['emailAddress'].dirty || form.controls['emailAddress'].touched)">
                    <span>This field is required</span>
                </div>

                <div class="mt-4 form-floating">
                    <input formControlName="password" type="password" class="form-control" name="password"
                        id="floatingPassword" placeholder="Insert a valid password" [(ngModel)]="servicio.doctorsData.password" />
                    <label class="text-dark" for="floatingPassword">Password</label>
                </div>

                <div class="alert alert-danger mt-2" *ngIf="
              form.controls['password'].invalid &&
              (form.controls['password'].dirty || form.controls['password'].touched)">
                    <span>This field is required</span>
                </div>

                <div class="mt-4 form-floating">
                    <select formControlName="role" name="role" class="form-control"
                        [(ngModel)]="servicio.doctorsData.role">
                        <option value="doctor">Doctor</option>
                    </select>
                    <label class="text-dark" for="floatingInput">Role</label>
                </div>
                <br />
                <button type="submit" class="btn_login w-100 btn btn-lg text-white"
                    [disabled]="form.pristine || form.invalid">
                    Continue
                </button>
            </form>
        </div>
    </main>

    <!--Waves Container-->
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
    <!--Waves end-->
</div>
<!--Header ends-->