<main>
    <div class="first-img">
        <img src="../../../assets/img/AMS.png" class="img-fluid" alt="...">
    </div>
    <div class=" container text-center  px-4 py-5" id="featured-3">
        <hr>
        <h2 class="pb-2 pt-4 text-center ">Nuestros Servicios</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-2  ">
            <div class="col p-4 ">
                <img src="../../../assets/img/agendar.png" alt="">
                <h2 class="mt-5">Agenda tu cita</h2>
                <br>
                <a routerLink="/login" class="btn w-100 btn_login text-white">
                    Ver más
                </a>
            </div>
            <div class="col p-4 ">
                <img src="../../../assets/img/incapacidad.png" alt="">
                <h2 class="mt-5">Solicita una incapacidad</h2>
                <br>
                <a routerLink="/login" class="btn form-control btn_login text-white">
                    Ver más
                </a>
            </div>
        </div>
    </div>
</main>