<br />
<br />
<br />
<br />
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 text-center">
      <span class="titulo">Create sick leave</span>
      <br />
      <br />
      <form
        class="text-start shadow p-4 rounded bg-light"
        [formGroup]="makeSickLeave"
        #miForm="ngForm"
        (ngSubmit)="addSickLeave()"
        novalidate
      >
        <div class="row mb-3">
          <div class="col-md-3">
            <label class="form-label"
              >Type of Document <span class="text-danger">*</span></label
            >
            <select
              type="text"
              class="form-control"
              formControlName="identificationType"
            >
              <option value="ID Card">Id Card</option>
              <option value="Health Insurance Card">Health Insurance Card</option>
              <option value="Driver's License">Driver's License</option>
              <option value="Passport">Passport</option>
            </select>
            <div
              class="text-danger"
              *ngIf="
                makeSickLeave.get('identificationType')?.hasError('required') &&
                makeSickLeave.get('identificationType')?.touched
              "
            >
              <span>The document type is <strong>mandatory</strong></span>
            </div>
          </div>

          <div class="col-md-3">
            <label class="form-label"
              >Identification number <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              formControlName="identificationNumber"
            />
            <div
              class="text-danger"
              *ngIf="
                makeSickLeave.get('identificationNumber')?.hasError('required') &&
                makeSickLeave.get('identificationNumber')?.touched
              "
            >
              <span
                >The document type is <strong>mandatory</strong></span
              >
            </div>
          </div>

          <div class="col-md-3">
            <label class="form-label"
              >Name <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              formControlName="name"
            />
            <div
              class="text-danger"
              *ngIf="
                makeSickLeave.get('name')?.hasError('required') &&
                makeSickLeave.get('name')?.touched
              "
            >
              <span>The name is <strong>mandatory</strong></span>
            </div>
          </div>

          <div class="col-md-3">
            <label class="form-label"
              >Last name<span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              formControlName="lastname"
            />
            <div
              class="text-danger"
              *ngIf="
                makeSickLeave.get('lastname')?.hasError('required') &&
                makeSickLeave.get('lastname')?.touched
              "
            >
              <span>The lastname is <strong>mandatory</strong></span>
            </div>
          </div>
        </div>

        <br />

        <div class="row mb-3">
          <div class="col-md-3">
            <label class="form-label"
              >Date of sick leave <span class="text-danger">*</span></label
            >
            <input
              type="date"
              class="form-control"
              formControlName="sickLeave"
            />
            <div
              class="text-danger"
              *ngIf="
                makeSickLeave.get('sickLeave')?.hasError('required') &&
                makeSickLeave.get('sickLeave')?.touched
              "
            >
              <span
                >Date of sick leave is <strong>mandatory</strong></span
              >
            </div>
          </div>

          <div class="col-md-3">
            <label class="form-label"
              >Days requested <span class="text-danger">*</span></label
            >
            <input
              type="number"
              class="form-control"
              formControlName="daysLeave"
              min="1"
            />
            <div
              class="text-danger"
              *ngIf="
                makeSickLeave.get('daysLeave')?.hasError('required') &&
                makeSickLeave.get('daysLeave')?.touched
              "
            >
              <span>It is mandatory to specify the <strong>days</strong></span>
            </div>
          </div>

          <div class="col-md-3">
            <label class="form-label"
              >Type of sick leave <span class="text-danger">*</span></label
            >
            <select
              type="text"
              class="form-control"
              formControlName="typeSickLeave"
            >
              <option value="sick Leave">Sick leave</option>
              <option value="Maternity leave">
                Maternity leave 
              </option>
              <option value="Paternity leave">
                Paternity leave 
              </option>
            </select>
            <div
              class="text-danger"
              *ngIf="
                makeSickLeave.get('typeSickLeave')?.hasError('required') &&
                makeSickLeave.get('typeSickLeave')?.touched
              "
            >
              <span
                >Choose the type of sick leave, it is <strong>mandatory</strong
                ></span
              >
            </div>
          </div>

          <div class="col-md-3">
            <label class="form-label"
              >Email address <span class="text-danger">*</span></label
            >
            <input
              type="email"
              class="form-control"
              formControlName="emailAddress"
             />
            <div
              class="text-danger"
              *ngIf="
                makeSickLeave.get('emailAddress')?.hasError('required') &&
                makeSickLeave.get('emailAddress')?.touched
              "
            >
              <span>The email address is <strong>mandatory</strong></span>
            </div>
          </div>
        </div>

        <br />

        <div class="d-flex justify-content-between align-items-center">
          <button
            routerLink="/user"
            class="btn btn-outline-secondary float-start"
          >
            Back
          </button>
          <button
            type="submit"
            class="btn btn-primary float-end"
            (click)="generatePdf()"
            [disabled]="miForm.pristine || miForm.invalid"
          >
            Save Changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<br />
<br />
<br />