<div class="header">
  <main class="form-signin w-100 m-auto">
    <div>
      <form
        [formGroup]="form"
        (ngSubmit)="agregarUsuario()"
        novalidate
      >
        <h2 class="h3 pt-4 mb-3 fw-normal">Register</h2>

        <div class="form-floating mb-4">
          <input
            formControlName="name"
            type="text"
            class="form-control"
            id="regName"
            placeholder="Enter your name"
          />
          <label class="text-dark" for="regName">Name</label>

          <div class="alert alert-danger mt-2" *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)">
            <span *ngIf="form.get('name')?.errors?.['required']">The name is <strong>mandatory</strong></span>
            <span *ngIf="form.get('name')?.errors?.['minlength']">Minimum 3 characters required</span>
          </div>
        </div>

        <div class="form-floating mb-4">
          <input
            formControlName="lastname"
            type="text"
            class="form-control"
            id="regLastname"
            placeholder="Enter your lastname"
          />
          <label class="text-dark" for="regLastname">Last name</label>

          <div class="alert alert-danger mt-2" *ngIf="form.get('lastname')?.invalid && (form.get('lastname')?.dirty || form.get('lastname')?.touched)">
            <span>The last name is <strong>mandatory</strong></span>
          </div>
        </div>

        <div class="form-floating mb-4">
          <input
            formControlName="emailAddress"
            type="email"
            class="form-control"
            id="regEmail"
            placeholder="name@example.com"
          />
          <label class="text-dark" for="regEmail">Email address</label>

          <div class="alert alert-danger mt-2" *ngIf="form.get('emailAddress')?.invalid && (form.get('emailAddress')?.dirty || form.get('emailAddress')?.touched)">
            <span *ngIf="form.get('emailAddress')?.errors?.['required']">The email is <strong>mandatory</strong></span>
            <span *ngIf="form.get('emailAddress')?.errors?.['email']">Please enter a valid email</span>
          </div>
        </div>

        <div class="form-floating mb-4">
          <input
            formControlName="password"
            type="password"
            class="form-control"
            id="regPassword"
            placeholder="Password"
          />
          <label class="text-dark" for="regPassword">Password</label>

          <div class="alert alert-danger mt-2" *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)">
            <span>Password must be between 5 and 15 characters</span>
          </div>
        </div>

        <h6 class="txt">
          Do you already have an account? <a routerLink="/login">Log in</a>
        </h6>
        
        <button
          type="submit"
          class="btn_login w-100 btn btn-lg text-white"
          [disabled]="form.invalid"
        >
          Continue
        </button>
      </form>

      <div class="back container mt-4">
        <i class="bi bi-arrow-left-circle-fill back pe-2"></i>
        <a routerLink="">Back</a>
      </div>
    </div>
  </main>

  <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" viewBox="0 24 150 28" preserveAspectRatio="none">
      <defs><path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"/></defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div>
</div>