<div class="container mt-5">
    <h1 class="pt-5 text-center m-4">Welcome</h1>
  </div>
  <div class="mt-5 container text-center">
    <div class="row">
      <div class="col">
        <img src="../../../assets/img/agendar.png" alt="" />
        <br />
        <br />
        <a routerLink="/registrarcita" class="btn w-10 btn_login text-white">
          Make an appointment
        </a>
      </div>
      <div class="col">
        <img src="../../../assets/img/incapacidad.png" alt="" />
        <br />
        <br />
        <a routerLink="/incapacidades" class="btn w-10 btn_login text-white">
          Generate sick leave
        </a>
      </div>
      <div class="col">
        <img src="../../../assets/img/listado.png" alt="" />
        <br />
        <br />
        <a routerLink="/listacitas" class="btn w-10 btn_login text-white">
          Check my appoinments
        </a>
      </div>
    </div>
  </div>
  